
<nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar" id="navbar"
style = "box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  min-height: 100vh;">
    <div class="position-sticky">
        <ul class="nav flex-column">
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active" href="/adminportal">-->
<!--                    <b>LMS</b>-->
<!--                </a>-->
<!--            </li>-->
            <li class="nav-item">
                <a></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "first-link" href="#profilePart" >Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "second-link" href="#addressPart" >Address</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "third-link" href="#passwordPart">Password</a>
            </li>
        </ul>
    </div>
</nav>
