
<nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar" id="navbar"
style = "box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  min-height: 100vh;">
    <div class="position-sticky">
        <ul class="nav flex-column">
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active" href="/adminportal">-->
<!--                    <b>LMS</b>-->
<!--                </a>-->
<!--            </li>-->
            <li class="nav-item">
                <a></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "first-link" href="/adminportal" >Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "second-link" href="/adminportal/addbooks" >Add Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "third-link" href="/adminportal/managebooks">Manage Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "fourth-link" href="/adminportal/createaccount">Create Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "fifth-link" href="/adminportal/manageaccounts">Manage Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "sixth-link" href="/adminportal/issuebooks">Issue Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "seventh-link" href="/adminportal/returnbooks" >Return Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "eighth-link" href="/adminportal/manageloans" >Manage Loans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "ninth-link" href="/adminportal/managefines" >Manage Fines</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "tenth-link" href="/adminportal/paymentlogs" >Payment Logs</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/logout}">Logout</a>-->
<!--            </li>-->
        </ul>
    </div>
</nav>
