<nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar" id="navbar"
     style = "box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  min-height: 100vh;">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "first-link" href = "/payment">Payment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "second-link" href = "/paymenthistory">Payment History</a>
            </li>
        </ul>
    </div>
</nav>
