<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Add Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="common/admin_navbar :: #navbar"></div>
<br />
<br />
<br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully added the book!</div>
            </div>
            <div class="card-header">
                <h2 class="text-center">Add Books</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" enctype="multipart/form-data" th:action="@{/adminportal/addbooks/save}" th:object="${book}">

                    <div class="form-group mb-3">
                        <label class="form-label">Title</label>
                        <input class="form-control"
                               id="title"
                               name="title"
                               placeholder="Enter title"
                               th:field="*{title}"
                               type="text"
                        />
                        <p th:errors="*{title}" class="text-danger"
                           th:if="${#fields.hasErrors('title')}">
                        </p>
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label">Description</label>
                        <textarea class="form-control"
                                  id="description"
                                  name="description"
                                  placeholder="Enter description"
                                  th:field="*{description}"></textarea>
                        <p th:errors="*{description}" class="text-danger"
                           th:if="${#fields.hasErrors('description')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Category</label>
                        <input class="form-control"
                               id="category"
                               name="category"
                               placeholder="Enter category"
                               th:field="*{category}"
                               type="text"
                        />
                        <p th:errors="*{category}" class="text-danger"
                           th:if="${#fields.hasErrors('category')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Publication Date</label>
                        <input class="form-control"
                               id="publication_year"
                               name="publication_year"
                               placeholder="Enter publication year"
                               th:field="*{publication_year}"
                               type="text"
                        />
                        <p th:errors="*{publication_year}" class="text-danger"
                           th:if="${#fields.hasErrors('publication_year')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Book Image</label>
                        <input class="form-control" type="file" id="imageFile" name="imageFile">
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Author First Name</label>
                        <input class="form-control"
                               th:id="'authorFirstName'"
                               th:name="'authors[0].firstName'"
                               placeholder="Enter author's first name"
                               th:field="*{authors[0].firstName}"
                               type="text"
                        />
                        <p th:errors="*{authors[0].firstName}" class="text-danger"
                           th:if="${#fields.hasErrors('authors[0].firstName')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Author Last Name</label>
                        <input class="form-control"
                               th:id="'authorLastName'"
                               th:name="'authors[0].lastName'"
                               placeholder="Enter author's last name"
                               th:field="*{authors[0].lastName}"
                               type="text"
                        />
                        <p th:errors="*{authors[0].lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('authors[0].lastName')}">
                        </p>
                    </div>

                    <div class="form-group mb-3" style="text-align: center;">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<script th:inline="javascript">-->
<!--    var addButton = document.getElementById("addAuthorButton");-->
<!--    addButton.addEventListener("click", function() {-->
<!--        var authorsDiv = document.querySelector("[th\\:each='currentAuthor, authorStatus : *{authors}']");-->
<!--        var newAuthorDiv = authorsDiv.cloneNode(true);-->

<!--        // Clear input values for the new author-->
<!--        var newInputs = newAuthorDiv.querySelectorAll("input");-->
<!--        newInputs.forEach(function(input) {-->
<!--            input.value = "";-->
<!--        });-->

<!--        authorsDiv.parentNode.appendChild(newAuthorDiv);-->
<!--    });-->
<!--</script>-->
</body>
</html>