<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Issue Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <style>
        .nav-link:hover {
           background-color: #2e2e2e;
           color: white;
        }

        .nav-item a {
            color: white; /* Text color for the first nav-link */

        }

        .nav-item #sixth-link {
           background-color: #383838;
        }
    </style>
</head>
<body>
    <!-- include navigation bar -->
    <div th:replace="common/admin_navbar :: #navbar"></div>
    <div class="container-fluid">
        <div class="row">
            <!-- Include a side bar -->
            <div th:replace="common/admin_sidebar :: #navbar"></div>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div style="margin-top: 50px;">
                    <div class="container">
                        <div class="row col-md-8 offset-md-2">
                            <div>
                                <div th:if="${param.success}">
                                    <div class="alert alert-info">Loan has been registered successfully!</div>
                                </div>
                                <h2 class="text-center">Issue Books</h2>
                                <div class="card-body">
                                    <!-- form to select books to be issued out to whichever user -->
                                    <form method="post" role="form" enctype="multipart/form-data" th:action="@{'/adminportal/issuebooks/save'}" th:object="${loan}">
                                        <div class="form-group mb-3">
                                            <label class="form-label">Book</label>
                                            <select class="form-control" id="book" name="bookId" th:field="*{book.book_id}">
                                                <option th:each="book : ${allBooks}" th:value="${book.book_id}" th:text="${book.title}"></option>
                                            </select>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label class="form-label">Member</label>
                                            <select class="form-control" id="member" name="memberId" th:field="*{member.member_id}">
                                                <option th:each="member : ${allMembers}" th:value="${member.member_id}" th:text="${member.firstName + ' ' + member.lastName}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">Loan Date</label>
                                            <input class="form-control"
                                                   id="loanDate"
                                                   name="loanDate"
                                                   placeholder="Enter loan date"
                                                   type="datetime-local"
                                                   th:field="*{loanDateTime}"
                                            />
                                            <p th:errors="*{loanDateTime}" class="text-danger"
                                               th:if="${#fields.hasErrors('loanDateTime')}">
                                            </p>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">Due Date</label>
                                            <input class="form-control"
                                                   id="dueDate"
                                                   name="dueDate"
                                                   placeholder="Enter due date"
                                                   th:field="*{dueDateTime}"
                                                   type="datetime-local"
                                            />
                                            <p th:errors="*{dueDateTime}" class="text-danger"
                                               th:if="${#fields.hasErrors('dueDateTime')}">
                                            </p>
                                        </div>
                                        <div class="form-group mb-3" style="text-align: center;">
                                            <button class="btn btn-primary" type="submit">Issue</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>