<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Manage Loans</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/tZ1a9lC7e6Kwd6See5r0p7pS7fF8/s1lJF1jQ=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        /*Ensure table is centered and there's gap around it*/
        .table-container {
            margin: 50px;
            display: flex;
            justify-content: center;
            min-width: 600px;
        }

        main {
            margin: 0 auto; /* Center the content horizontally */
        }

        .nav-link:hover {
           background-color: #2e2e2e;
           color: white;
        }

        .nav-item a {
           color: white;
        }

        .nav-item #eighth-link {
           background-color: #383838;
        }

        .filter-button {
            background-color: #ffffff;
            border: 1px solid #ced4da;
            color: #495057;
            padding: 6px 12px;
            border-radius: 4px;
            cursor: pointer;
        }

        .filter-button:hover {
            background-color: #f8f9fa;
        }

        .filter-button.active-filter-button {
            background-color: #007bff !important;
            color: #ffffff !important;
        }

        .up-arrow {
            width: 0;
            height: 0;
            border: solid 5px transparent;
            background: transparent;
            border-bottom: solid 7px grey;
            border-top-width: 0;
            cursor: pointer;
        }

    .down-arrow {
        width: 0;
        height: 0;
        border: solid 5px transparent;
        background: transparent;
        border-top: solid 7px grey;
        border-bottom-width: 0;
        margin-top:1px;
        cursor: pointer;
    }

    .arrow-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px; /* Add some spacing between the arrows and the text */
    }

    .sortable-header {
        display: flex;
        align-items: center;
        cursor: pointer;

    }

    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
             // Get the current URL
             var currentUrl = window.location.href;

             if (currentUrl.indexOf('statusFilter=RETURNED') !== -1) {
                changeButtonStyle('returnButton', '#007bff');
            } else if (currentUrl.indexOf('statusFilter=ACTIVE') !== -1) {
                changeButtonStyle('activeButton', '#007bff');
            } else if (currentUrl.indexOf('statusFilter=OVERDUE') !== -1) {
                changeButtonStyle('overdueButton', '#007bff');
            } else if (currentUrl.indexOf('statusFilter=ALL') !== -1) {
                changeButtonStyle('allButton', '#007bff');
            }

            function changeButtonStyle(buttonId, color) {
                var button = document.getElementById(buttonId);
                if (button) {
                    button.style.backgroundColor = color;
                    button.style.color = "white";
                }
            }

         });


        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;

            //Set the sorting direction to ascending:
            dir = "asc";

            /*Make a loop that will continue until
            no switching has been done:*/

            while (switching) {
                switching = false;
                rows = table.rows;

                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    /*check if the two rows should switch place,
                     based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                          //if so, mark as a switch and break the loop:
                          shouldSwitch= true;
                          break;
                        }
                    }
                    else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                          //if so, mark as a switch and break the loop:
                          shouldSwitch = true;
                          break;
                        }
                    }
                }

                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);

                    switching = true;

                    //Each time a switch is done, increase this count by 1:
                    switchcount ++;
                }
                else {
                        /*If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again.*/
                        if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
            updateArrows(n, dir);
        }


        function updateArrows(columnIndex, direction) {
            var arrows = document.querySelectorAll(".arrow-container");
            arrows[columnIndex].querySelector(".up-arrow").style.borderBottom = direction === "asc" ? "solid 7px black" : "solid 7px grey";
            arrows[columnIndex].querySelector(".down-arrow").style.borderTop = direction === "desc" ? "solid 7px black" : "solid 7px grey";
        }

        function sortTableNumber(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;

            //Set the sorting direction to ascending:
            dir = "asc";

            /*Make a loop that will continue until
            no switching has been done:*/

            while (switching) {
                switching = false;
                rows = table.rows;

                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    /*check if the two rows should switch place,
                     based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (Number(x.innerHTML) > Number(y.innerHTML)) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                          }
                    }
                    else if (dir == "desc") {
                        if (Number(x.innerHTML) < Number(y.innerHTML)) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                          }
                    }
                }

                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);

                    switching = true;

                    //Each time a switch is done, increase this count by 1:
                    switchcount ++;
                }
                else {
                        /*If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again.*/
                        if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
                updateArrows(n, dir);
        }
    </script>
</head>
<body>
<!-- Include navigation bar -->
    <div th:replace="common/admin_navbar :: #navbar"></div>
    <div class="container-fluid">
        <div class="row">
            <!-- Include a side bar -->
            <div th:replace="common/admin_sidebar :: #navbar"></div>
            <main class="col-md-7 ms-sm-auto col-lg-8 px-md-4">
                <div style="margin-top: 50px;">
                    <div th:if="${param.success}">
                        <div class="alert alert-info">Loan has been successfully deleted!</div>
                    </div>
                    <h2 class="text-center">Manage Loans</h2>
                    <br/>
                    <!-- Form for search query and filter for manage loans-->
                    <form th:action="@{/adminportal/manageloans}" method="get">
                        <div style = "display:flex; margin: 50px; justify-content: center;">
                            <input type="search" id="form1" style = "width:55%" class="form-control" name="query" placeholder="Type query" th:value="${param.query}" aria-label="Search" />
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#filterModal">
                                Add Filters
                            </button>
                        </div>
                        <!-- search filter modal -->
                        <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="filterModalLabel">Filters</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="searchBy" class="form-label"><b>Search By:</b></label>
                                            <select class="form-select" id="searchBy" name="searchBy" >
                                                <option value="any" th:selected="${searchBy == 'any'}">Any</option>
                                                <option value="loanId" th:selected="${searchBy == 'loanId'}">Loan Id</option>
                                                <option value="bookId" th:selected="${searchBy == 'bookId'}">Book Id</option>
                                                <option value="title" th:selected="${searchBy == 'title'}">Title</option>
                                                <option value="memberId" th:selected="${searchBy == 'memberId'}">Member Id</option>
                                                <option value="name" th:selected="${searchBy == 'name'}">Name</option>
                                                <option value="loanDateTime" th:selected="${searchBy == 'loanDateTime'}">Loan Date/Time</option>
                                                <option value="dueDateTime" th:selected="${searchBy == 'dueDateTime'}">Due Date/Time</option>
                                                <option value="returnedDateTime" th:selected="${searchBy == 'returnedDateTime'}">Returned Date/Time</option>
                                                <option value="daysOverdue" th:selected="${searchBy == 'daysOverdue'}">Days Overdue</option>
                                                <option value="fine" th:selected="${searchBy == 'fine'}">Fine</option>
                                            </select>
                                        </div>
                                        <!-- Status Filter -->
                                        <div class="mb-3">
                                            <label><b>Status Filter:</b></label><br>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="statusFilter" id="allRadio" value="ALL" th:checked="${statusFilter == null or statusFilter == 'ALL'}">
                                                <label class="form-check-label" for="allRadio">All</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="statusFilter" id="overdueRadio" value="OVERDUE" th:checked="${statusFilter == 'OVERDUE'}">
                                                <label class="form-check-label" for="overdueRadio">Overdue</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="statusFilter" id="activeRadio" value="ACTIVE" th:checked="${statusFilter == 'ACTIVE'}">
                                                <label class="form-check-label" for="activeRadio">Active</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="statusFilter" id="returnedRadio" value="RETURNED" th:checked="${statusFilter == 'RETURNED'}">
                                                <label class="form-check-label" for="returnedRadio">Returned</label>
                                            </div>
                                        </div>
                                        <!-- Sorting -->
                                        <div style = "display: flex;">
                                            <div class="mb-3">
                                                <label for="sort" class="form-label"><b>Sort By:</b></label>
                                                <select class="form-select" id="sort" name="sort">
                                                    <!-- Options go here -->
                                                    <option value="loanId" th:selected="${sort == 'loanId'}">Loan Id</option>
                                                    <option value="bookId" th:selected="${sort == 'memberId'}">Book Id</option>
                                                    <option value="title" th:selected="${sort == 'title'}">Title</option>
                                                    <option value="memberId" th:selected="${sort == 'memberId'}">Member Id</option>
                                                    <option value="name" th:selected="${sort == 'name'}">Name</option>
                                                    <option value="loanDateTime" th:selected="${sort == 'loanDateTime'}">Loan Date/Time</option>
                                                    <option value="returnedDateTime" th:selected="${sort == 'returnedDateTime'}">Returned Date/Time</option>
                                                    <option value="dueDateTime" th:selected="${sort == 'dueDateTime'}">Due Date/Time</option>
                                                    <option value="daysOverdue" th:selected="${sort == 'daysOverdue'}">Days Overdue</option>
                                                    <option value="fine" th:selected="${sort == 'fine'}">Fine</option>
                                                </select>
                                            </div>
                                            <div class="mb-3" style = "margin-left: 10px;">
                                                <label for="order" class="form-label"><b>Order:</b></label>
                                                <select class="form-select" id="order" name="order">
                                                    <!-- Options -->
                                                    <option value="asc" th:selected="${order == 'asc'}">Ascending</option>
                                                    <option value="desc" th:selected="${order == 'desc'}">Descending</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- table showing loan information -->
                    <div class="table-container">
                        <table class="table table-bordered" id="myTable">
                            <thead>
                            <tr>
                                <th onclick="sortTableNumber(0)">
                                    <div class="sortable-header">
                                        Loan Id
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th onclick="sortTableNumber(1)">
                                    <div class="sortable-header">
                                        Book Id
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th onclick="sortTable(2)">
                                    <div class="sortable-header">
                                        Title
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th onclick="sortTableNumber(3)">
                                    <div class="sortable-header">
                                        Member Id
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th onclick="sortTable(4)">
                                    <div class="sortable-header">
                                        Name
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th onclick="sortTable(5)">
                                    <div class="sortable-header">
                                        Loan Date/Time
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th onclick="sortTable(6)">
                                    <div class="sortable-header">
                                        Due Date/Time
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th onclick="sortTable(7)">
                                    <div class="sortable-header">
                                        Returned Date/Time
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th onclick="sortTable(8)">
                                    <div class="sortable-header">
                                        Status
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th onclick="sortTableNumber(9)">
                                    <div class="sortable-header">
                                        Days Overdue
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th onclick="sortTableNumber(10)">
                                    <div class="sortable-header">
                                        Fine
                                        <div class="arrow-container">
                                            <div class="up-arrow"></div>
                                            <div class="down-arrow"></div>
                                        </div>
                                    </div>
                                </th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="loan : ${loans}">
                                <td th:text="${loan.loan_id}"></td>
                                <td th:text="${loan.book.book_id}"></td>
                                <td th:text="${loan.book.title}"></td>
                                <td th:text="${loan.member.member_id}"></td>
                                <td th:text="${loan.member.firstName + ' ' + loan.member.lastName}"></td>
                                <td th:with="loanDateFormatted=${#temporals.format(loan.loanDateTime, 'yyyy-MM-dd, HH:mm:ss')}">
                                    <span th:text="${loanDateFormatted}"></span>
                                </td>
                                <td th:with="dueDateFormatted=${#temporals.format(loan.dueDateTime, 'yyyy-MM-dd, HH:mm:ss')}">
                                    <span th:text="${dueDateFormatted}"></span>
                                </td>
                                <td th:with="returnedDateFormatted=${#temporals.format(loan.returnedDateTime, 'yyyy-MM-dd, HH:mm:ss')}">
                                    <span th:text="${returnedDateFormatted}"></span>
                                </td>
                                <td th:text="${loan.status}"></td>
                                <td th:text="${loan.daysOverdue}"></td>
                                <td th:text="${loan.fineAmount}"></td>

                                <td style = "display: flex; flex-direction: column;">
                                    <a class="btn btn-primary" th:href="@{'/adminportal/updateloans?loanId=' + ${loan.loan_id}}" style="margin-bottom: 5px;">Update</a>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#loanModal-' + ${loan.loan_id}">
                                        Delete
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'loanModal-' + ${loan.loan_id}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <strong>Loan Id:</strong>
                                                    <p th:text="${loan.loan_id}"></p>

                                                    <strong>Member Id:</strong>
                                                    <p th:text="${loan.member.member_id}"></p>

                                                    <strong>Name:</strong>
                                                    <p th:text="${loan.member.firstName + ' ' + loan.member.lastName}"></p>

                                                    <strong>Book Id:</strong>
                                                    <p th:text="${loan.book.book_id}"></p>

                                                    <strong>Title:</strong>
                                                    <p th:text="${loan.book.title}"></p>

                                                    <strong>Loan Date/Time:</strong>
                                                    <p th:with="returnedDateFormatted=${#temporals.format(loan.returnedDateTime, 'yyyy-MM-dd, HH:mm:ss')}">
                                                        <span th:text="${returnedDateFormatted}"></span>
                                                    </p>

                                                    <strong> Due Date/Time:</strong>
                                                    <p th:with="dueDateFormatted=${#temporals.format(loan.dueDateTime, 'yyyy-MM-dd, HH:mm:ss')}">
                                                        <span th:text="${dueDateFormatted}"></span>
                                                    </p>

                                                    <strong>Returned Date/Time:</strong>
                                                    <p th:with="returnedDateFormatted=${#temporals.format(loan.returnedDateTime, 'yyyy-MM-dd, HH:mm:ss')}">
                                                        <span th:text="${returnedDateFormatted}"></span>
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <form method="post" role="form" th:action="@{'/adminportal/manageloans/' + ${loan.loan_id}}">
                                                        <input type="hidden" name="_method" value="DELETE" />
                                                        <button type="submit" class="btn btn-danger" >Confirm Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:if="${totalPages > 1}">
                        <div class="row col-sm-10 align-items-center">
                            <div class="col-sm-6">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{'/adminportal/manageloans' + (${query} != null ? '?query=' + ${query} + '&amp;' : '?') + (${searchBy} != null ? 'searchBy=' + ${searchBy} + '&amp;' : '') + (${statusFilter} != null ? 'statusFilter=' + ${statusFilter} + '&amp;' : '') + (${sort} != null ? 'sort=' + ${sort} + '&amp;' : '') + (${order} != null ? 'order=' + ${order} + '&amp;' : '') + 'page=1'}">
                                            <i class="bi bi-chevron-double-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a th:if="${currentPage > 1}" class="page-link" th:href="@{'/adminportal/manageloans' + (${query} != null ? '?query=' + ${query} + '&amp;' : '?') + (${searchBy} != null ? 'searchBy=' + ${searchBy} + '&amp;' : '') + (${statusFilter} != null ? 'statusFilter=' + ${statusFilter} + '&amp;' : '') + (${sort} != null ? 'sort=' + ${sort} + '&amp;' : '') + (${order} != null ? 'order=' + ${order} + '&amp;' : '') + 'page=' + ${currentPage - 1}}">
                                            <i class="bi bi-arrow-left"></i>
                                        </a>
                                        <span th:unless="${currentPage > 1}" class="page-link disabled">
                                            <i class="bi bi-arrow-left"></i>
                                        </span>
                                    </li>

                                    <li class="page-item" th:each="i: ${#numbers.sequence(currentPage - 1 > 0 ? currentPage - 1 : 1, currentPage + 1 < totalPages ? currentPage + 1 : totalPages)}">
                                        <a class="page-link" th:if="${currentPage != i}" th:href="@{'/adminportal/manageloans' + (${query} != null ? '?query=' + ${query} + '&amp;' : '?') + (${searchBy} != null ? 'searchBy=' + ${searchBy} + '&amp;' : '') + (${statusFilter} != null ? 'statusFilter=' + ${statusFilter} + '&amp;' : '') + (${sort} != null ? 'sort=' + ${sort} + '&amp;' : '') + (${order} != null ? 'order=' + ${order} + '&amp;' : '') + 'page=' + ${i}}">
                                            <span th:text="${i}" th:class="${currentPage == i ? 'font-weight-bold' : ''}"></span>
                                        </a>
                                        <span class="page-link" th:unless="${currentPage != i}">
                                            <span th:text="${i}" th:class="${currentPage == i ? 'font-weight-bold text-dark' : 'text-muted'}"></span>
                                        </span>
                                    </li>

                                    <li class="page-item">
                                        <a th:if="${currentPage < totalPages}" class="page-link" th:href="@{'/adminportal/manageloans' + (${query} != null ? '?query=' + ${query} + '&amp;' : '?') + (${searchBy} != null ? 'searchBy=' + ${searchBy} + '&amp;' : '') + (${statusFilter} != null ? 'statusFilter=' + ${statusFilter} + '&amp;' : '') + (${sort} != null ? 'sort=' + ${sort} + '&amp;' : '') + (${order} != null ? 'order=' + ${order} + '&amp;' : '') + 'page=' + ${currentPage + 1}}">
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                        <span th:unless="${currentPage < totalPages}" class="page-link disabled">
                                            <i class="bi bi-arrow-right"></i>
                                        </span>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{'/adminportal/manageloans' + (${query} != null ? '?query=' + ${query} + '&amp;' : '?') + (${searchBy} != null ? 'searchBy=' + ${searchBy} + '&amp;' : '') + (${statusFilter} != null ? 'statusFilter=' + ${statusFilter} + '&amp;' : '') + (${sort} != null ? 'sort=' + ${sort} + '&amp;' : '') + (${order} != null ? 'order=' + ${order} + '&amp;' : '') + 'page=' + ${totalPages}}">
                                            <i class="bi bi-chevron-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 text-center">
                                <form method="get" th:action="@{'/adminportal/manageloans'}" id = "pageFilter">

                                    <span class="text-dark font-weight-bold">
                                        <input type="hidden" name="query" th:if="${query}" th:value="${query}" />
                                        <input type="hidden" name="searchBy" th:if="${searchBy}" th:value="${searchBy}" />
                                        <input type="hidden" name="statusFilter" th:if="${statusFilter}" th:value="${statusFilter}" />
                                        <input type="hidden" name="sort" th:if="${sort}" th:value="${sort}" />
                                        <input type="hidden" name="order" th:if="${order}" th:value="${order}" />
                                        Page <input type="number" name="page" class="form-control" style="width: 60px; display: inline-block;" th:value="${currentPage}" /> out of <span th:text="${totalPages}"></span>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>